{% extends "feed/base.html" %}
{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<h1>{{ profile_user.nickname|default:profile_user.email }}</h1>

{% if request.user != profile_user %}
<form method="post" action="{% url 'users:add_friend' profile_user.id %}" style="margin-bottom:20px;">
    {% csrf_token %}
    <button type="submit" class="btn" style="padding:10px 20px; font-size:16px;">
        ➕ Добавить в друзья
    </button>
</form>
{% endif %}

<div class="profile-stats" style="display:flex; gap:40px; margin-bottom:20px;">

    
        <div class="profile-stats">
            <a href="{% url 'users:user_friends' profile_user.id %}" class="stat-item">
                👥 {{ total_friends }} друзей
            </a>
            <div class="stat-item">📝 {{ total_posts }} постов</div>
            <div class="stat-item">❤️ {{ total_likes }} лайков</div>
        </div>



</div>

<div class="posts">
    {% for post in profile_user.post_set.all %}
        <div class="post">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>

            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Фото" style="max-width:80%; border-radius:10px; margin-top:10px;">
            {% endif %}

            {% if post.video %}
                <video width="80%" height="auto" controls style="border-radius:10px; margin-top:10px;">
                    <source src="{{ post.video.url }}" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
            {% endif %}
        </div>
    {% empty %}
        <p>У пользователя пока нет постов 😢</p>
    {% endfor %}
</div>

<a href="{% url 'users:profile' %}" class="btn" style="margin-top:20px;">⬅ Назад к моему профилю</a>

{% endblock %}
